/*navbar*/
*
{
    margin: 0;
    padding: 0; 
}
.nav-bar{
    background: #1d4052;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;

}


.menu-right{
    text-align: left;
}
ul li{
    display: block;
    margin: 20px;
    list-style: none;
    text-decoration: none;
}



ul li:hover > ul {
 opacity: 1;
visibility: visible;
   

}


ul li a{
	text-decoration:none;
	color:#fff;
}
ul li a:hover, .active{
    color: cyan;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
    padding: 2px;  
    border-radius: 4px;          
}




@media only screen and (max-width: 700px){
    span
    {
        display: block;
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
	ul ul{
	margin-left:100px;
	margin-top:0px;
	margin-bottom:10px;
	border-left: 1px solid #23dbdb;
	
border-top:none;
    display:inline-flex;
	}
	
}





